/* ----- RESET ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
    display: flex;
}

.space-b {
    justify-content: space-between ;
}

/* ----- HEADER ----- */

nav {
    padding-bottom: 64px;
}

.navbar {
    font-size: 0.9rem;
    color: #777;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

.img-size {
    max-height: 20px;
}

.nav-link {
    list-style-type: none;
    
}

.nav-spacing,
.nav-link > li {
    padding: 12px;
}

.nav-side-spacing {
    padding: 0 10px
}

.vertical-al {
    align-items: center;
}

.btn {
    background-color: #065FF6;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    font-size: 0.8rem;
}

/* ----- MAIN ----- */

p {
    font-size: 0.9rem;
}

.section {
    padding: 40px 0;
}

.container-big {
    max-width: 960px;
    margin: 0 auto;
}

.bg-jumbo {
    background-color: #B4D0E7;
}

h1 {
    font-size: 4rem;
}

.column {
    flex-direction: column;
}

main img {
    width: 100%;
}

.text-spacing {
    margin-bottom: 20px;
}

.arrow {
    font-size: 2rem;
    padding-top: 40px;
}

.col-small {
    width: 40%;
}

.col-wide {
    width: 60%;
}

.container-small {
    width: 860px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    padding-bottom: 20px ;
}

.radio {
    padding-right: 40px;
}

.singolo,
.team,
.azienda  {
    border-bottom: 1px solid #777;
    text-align: center;
}

.card {
    border: 1px solid #777;
    height: 100%;
    font-size: 0.8rem;
}

.internal-spacing {
    padding: 20px;
}

main .col {
    flex-grow: 1;
}

.gap-2 {
    gap: 2rem;
}

.small-line {
    height: 1px;
    width: 20%;
    background-color: #777;
    padding-left: 2rem;
}

.punti-salienti .fa-check {
    color: #065FF6;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.white {
    border: 1px solid #777;
    background-color: #fff;
    color: #777;
}

.brand-square-container {
    display: flex;
    flex-wrap: wrap;
}

.brand-square {
    width: 50%;
    aspect-ratio: 1/1;
    background-color: #777;
    padding: 50px;
}

.brand-square > img {
    height: 100%;
    width: 100%;
    filter: invert(1);
}

.small-w {
    width: 40%;
}

.designit {
    background-color: #A2D39B;
    color: #fff;
}

.arizona {
    background-color: #62142B;
}

.florida {
    background-color: #3693CE;
}

.topps {
    background-color: #ED3833;
}

.bicycle {
    background-color: #D6322D;
}

.hearts {
    background-color: #B4D0E7;
}

.lonely {
    background-color: #0D2481;
}

.clear {
    background-color: #ffff00;
}

.pourple {
    color: #62142B;
}

.bottom-line {
    border-bottom: 1px solid #777;
    padding: 20px;
}


/* ----- FOOTER ----- */

footer .section {
    background-color: #000;
}